*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth !important;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000bf;
    z-index: 125435521;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 5px solid #08bbf0;
    border-right:4px solid transparent;
    border-radius: 50%;
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:linear  ;
}
@keyframes load {
 0%{
    transform: rotate(0deg);
 }
 100%{
    transform: rotate(360deg);
 }
}
header{
    background-image: url(../images/hero-bg.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 9999999;
    height: 70px;
}
nav .navBar{
    margin:0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
   padding-top:15px ;
}
.logo h3{
    color: #08bbf0;
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
}
.links ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-weight: bold;
}
.links ul li{
    color:#00bbf0;
    list-style: none;
    cursor: pointer;
    transition: all .5s;
    list-style: none;
}
.links ul li:hover{
color:#007fa4
}
.links ul li a{
  text-decoration: none;
  color:#00bbf0;
  transition: all .5s;
}
.links ul li a:hover{
    color:#007fa4
}
.container{
  width: 85%;
  margin: auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
.hero .text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}
.hero .text h1{
    color: #fff;
    font-size: 50px;
}
.hero .text p{
    color: #fff;
    line-height: 1.6;
}
.readMore{
    color: #fff;
    width: 150px;
    padding:15px 10px;
    background-color:  #08bbf0;
    border: none;
    margin-top:20px ;
    transition: all .5s;
    cursor: pointer;
}
.readMore:hover{
 background-color: #007fa4;;
}
.hero .image img{
   width: 500px;
   animation-name: Up-Down;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;

}
@keyframes Up-Down {
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(-40px);
    }
}
.dots ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}
.dots ul li{
 list-style: none;
 margin-left: 10px;

}

.dots i{
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: all .5s;

}
.dots i:hover{
   transform: scale(1.8);
    color: #08bbf0;

}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.service h2{
    line-height: 2.5;
    font-size: 40px;
    font-weight: 700;
}
.service h2 span{
  color: #00bbf0;

}
.service-Content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
}
.item{
    width: 22%;
}
.item img{
    width: 70px;
}
.item h3{
    line-height: 2.5;
}
.item p{
    line-height: 1.5;
}
.item button{
    margin-top: 15px;
    border: none;
    font-size: 15px;
    transition: all .5s;
    cursor: pointer;
}
.item button:hover{
    color: #00bbf0;
}
.service .down{
    margin-top: 40px;
}
.service .down button{
    width: 150px;
    padding: 15px;
    background-color: #00bbf0;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}
.service .down button:hover{
    background-color: #007fa4;
}
.about{
    margin-top: 50px;
}
.about .container{
    width: 100%;
    background-color: #00204a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:90px 0;
}
.about .container h2{
    line-height: 2.5;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.about .container span{
  color: #00bbf0;

}
.about .container p{
  color: #fff;
  line-height: 1.5;
}
.about-Content{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.about-Content .item-img img{
    width: 500px;
    margin-right: 80px;
}
.whyChoose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.whyChoose .img{
    width: 120px;
    height: 120px;
    border: 5px solid #00204a;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.whyChoose img{
    width: 55px;
    height: auto;
}
.whyChoose h3{
  margin-bottom: 20px;
}
.whyChoose p{
  margin-bottom: 20px;
}
.whyChoose h2{
    line-height: 2.5;
    font-size: 40px;
    font-weight: 700;
}
.whyChoose h2 span{
    color: #00bbf0;
}
.team{
    width: 100%;
    background-color: #00204a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:90px 0;
    margin-top: 50px;
}
.team h2{
    line-height: 2.5;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.team span{
  color: #00bbf0;

}
.team .team-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.team .team-content .card{
    background-color: #00275a;
    padding: 40px ;
    height: 300px;
}
.team .team-content .card .boxImg img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #fff ;
}
.team .team-content .card h3{
    color: #00bbf0;
    font-weight: 600;
    margin-top: 20px;
}
.team .team-content .card p{
    color:#fff;
    font-weight: 600;
    margin-top: 10px;
}
.team .team-content .card .icon i{
    color:#fff;
    margin-top: 25px;
    font-size: 20px;
    margin-left: 5px;
    transition: all .5s;
}
.team .team-content .card .icon i:hover{
    color: #00bbf0;
}
.customers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0;
    width: 100%;
}
.customers h2{
    line-height: 2.5;
    font-size: 40px;
    font-weight: 700;
}
.customers span{
  color: #00bbf0;

}
.customers .customers-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.customers .customers-content .card {
    width: 30%;
}
.customers .customers-content .card .boxImg img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.customers .customers-content .card h3{
    line-height: 2;
}
.customers .customers-content .card h5{
    line-height: 2;
    color: rgba(0, 0, 0, 0.523);
}
.customers .customers-content .card p{
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.523);
}
.customers .icon{
    margin-top: 30px;
    cursor: pointer;
}
.customers .icon i{
 border: 1px solid #0000001c;
 border-bottom: 1px solid transparent ;
 border-top:1px solid transparent ;
 padding: 15px;
 margin-left: -5px;
}
.customers .icon .fa-angle-right{
 border-left:1px solid transparent ;
}
footer{
    background-color: #001f49;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;

}
footer .Address{
  height: 200px;
}
footer .Address h3{
  color: #fff;
  font-size: 25px;
  margin-bottom:20px ;
}
footer .Address .data{
  color: #fff;
  display: flex;
  align-items: center;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
}
footer .Address .data:hover{
 color: #00bbf0;
}
footer .Address .data i{
  margin-right: 5px;
}
footer .Address .icon i{
    color: #fff;
    margin-top: 25px;
    font-size: 20px;
    margin-left: 5px;
    transition: all .5s;
    cursor: pointer;
}
footer .Address .icon i:hover{
    color: #00bbf0
}
footer .Info{
   width: 22%;
   height: 200px;
}

footer .Info h3{
    color: #fff;
    font-size: 25px;
    margin-bottom:20px ;
}
footer .Info p{
    color: #fff;
   line-height: 1.6;
}
footer .Links{
    height: 200px;
}
footer .Links h3{
    color: #fff;
    font-size: 25px;
    margin-bottom:20px ;
}
footer ul li{
    list-style: none;
    margin-bottom: 20px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover{
    color: #00bbf0;
}
footer .Subscribe{
    height: 200px;
}
footer .Subscribe h3{
    color: #fff;
    font-size: 25px;
    margin-bottom:20px ;
}
footer .Subscribe input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin-bottom: 15px;
    font-size: 15px;
    outline: none;
    color: #fff;
}
footer .Subscribe input::placeholder{
color: #fff;
}
footer .Subscribe button{
    width: 100%;
    border: none;
    background-color: #00bbf0;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    transition: all .5s;
}
footer .Subscribe button:hover{
    background-color:#007fa4
}